.header {
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: 42px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    order: 2;
}

.header__logo {
    width: 66px;
    height: 42px;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    outline: 1px solid var(--mainPurple, #cd06ff);
    outline-offset: 3px;
}

.header__nav-img {
    order: 1;
    width: 39px;
    height: 20px;
    background: url("../img/icons/menu.svg") no-repeat;
    background-size: contain;
}

.header__nav-img:hover,
.header__nav-img:focus {
    order: 1;
    width: 39px;
    height: 20px;
    background: url("../img/icons/menuHover.svg") no-repeat;
    background-size: contain;
    outline: none;
}

.header__nav-img:active {
    order: 1;
    width: 39px;
    height: 20px;
    background: url("../img/icons/menuActive.svg") no-repeat;
    background-size: contain;
}

.header__list {
    display: none;
}

.header__nav-button {
    display: none;
}

.header__modal {
    display: none;
}

@media (min-width: 350px) {
    .header__logo {
        width: 20.63vw;
        height: 13.13vw;
    }

    .header__nav-img,
    .header__nav-img:hover,
    .header__nav-img:focus,
    .header__nav-img:active {
        width: 12.19vw;
        height: 6.25vw;
    }
}

@media (min-width: 768px) {
    .header {
        padding-top: 32px;
        padding-bottom: 15px;
    }

    .header__logo {
        width: 87px;
        height: 55px;
    }

    .header__nav-img,
    .header__nav-img:hover,
    .header__nav-img:focus,
    .header__nav-img:active {
        width: 54px;
        height: 29px;
    }

    .header__nav-button {
        order: 3;
        display: inline-block;
        padding: 10px 26px 11px;
        background: transparent;
        border: 3px solid var(--mainPurple, #cd06ff);
        border-radius: 8px;
        color: var(--color, #ffffff);
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        transition-duration: 500ms;
        transition-property: background-color, border;

    }

    .header__nav-button:hover,
    .header__nav-button:focus {
        background-color: var(--buttonHover, #6c0287);
        border: 3px solid var(--buttonHover, #6c0287);
    }

    .header__nav-button:active {
        background-color: var(--buttonActive, #640aa3);
        border: 3px solid var(--buttonHover, #640aa3);
    }

    .header__modal-wrapper {
        display: none;
        opacity: 0;
        
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0; 
        top: 0; 
        right: 0; 
        bottom: 0;
        z-index: 1;

        animation: closeModal .5s ease-in-out;
    }

    @keyframes closeModal {
        0% {
            display: block;
            opacity: 1;
        }
        100% {
            display: none;
            opacity: 0;
        }
    }

    .header__modal-wrapper--visible {
        display: block;
        opacity: 1;

        animation: openModal .5s ease-in-out;
    }

    @keyframes openModal {
        0% {
            display: none;
            opacity: 0;
        }
        100% {
            display: block;
            opacity: 1;
        }
    }        

    .header__modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 340px;
        padding: 30px 20px 30px 30px;
        background-color:  var(--buttonColor, #6c0287);
        border-radius: 2%;
        z-index: 2;
    }

    .header__modal-close-button {
        position: absolute;
        top:20px;
        right: 20px;
        width: 20px;
        height: 20px;
        background: url(../img/icons/cross.svg) center;
        border: none;
    }

    .header__modal-close-button:hover,
    .header__modal-close-button:focus {
        background-color: var(--buttonHover, #6c0287);
        border: 2px solid #cccccc;
    }

    .header__modal-close-button:active {
        background-color: #550269;
        border: 2px solid #cccccc;
    }
}

@media (min-width: 1024px) {
    .header__logo {
        order: 1;
        height: 60px;
    }

    .header__nav {
        display: flex;
        align-items: center;
        order: 2;
        width: auto;
        background: none;
    }

    .header__nav-img {
        display: none;
    }

    .header__list {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        font-size: 18px;
        text-transform: uppercase;
    }

    .header__modal {
        width: 500px;
        padding: 40px 75px 40px 75px;
    }
}

@media (min-width: 1440px) {
    .header {
        padding-bottom: 25px;
    }

    .header__logo {
        width: 120px;
        height: 66px;
    }

    .header__list {
        column-gap: 40px;
        font-size: 22px;
    }
}
