html {
    --color: #ffffff;
    --backgroundColor: #1b1a1b;
    --mainPurple: #cd06ff;
    --buttonColor: #6c0287;
}

.booking,
.faq {
    --backgroundColor: #440f51;
}

.footer {
    --backgroundColor1: #1b1a1b;
    --backgroundColor2: #370a37;
}
