.copyright {
    padding: 30px 0 24px;
}

.copyright__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
}

.copyright__design {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}

@media (min-width: 350px) {
    .copyright {
        padding: 9.38vw 0 7.5vw;
    }

    .copyright__wrapper {
        row-gap: 5.94vw;
        font-size: 3.75vw;
        line-height: 5vw;
    }

    .copyright__design {
        row-gap: 1.56vw;
    }
}

@media (min-width: 768px) {
    .copyright {
        padding: 32px 0 18px;
    }

    .copyright__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 14px;
        line-height: 16px;
    }

    .copyright__design {
        row-gap: 6px;
    }
}

@media (min-width: 1024px) {
    .copyright {
        padding: 46px 0 19px;
    }
}

@media (min-width: 1024px) {
    .copyright {
        padding: 72px 0 21px;
    }
}
