.halls {
    padding: 10px 0 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
    row-gap: 30px;
    grid-template-areas:
    "hero"
    "equipment"
    "other";
    justify-items: center;
}

.halls__section-title {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 350px) {
    .halls {
        padding: 3.13vw 0 4.69vw;
        row-gap: 9.38vw;
    }

    .halls__section-title {
        margin-bottom: 4.69vw;
        font-size: 4.38vw;
    }
}
