.halls__hero {
    grid-area: hero;
    position: relative;
}

.halls__hero-img {
    margin-bottom: 30px;
    width: 320px;
    height: 168px;
}

.halls__hero-img-vibes {
    background-image: url("../../img/halls/heroVibes.jpg");
    background-size: cover;
}

.halls__hero-img-starWars {
    background-image: url("../../img/halls/heroWars.jpg");
    background-size: cover;
}

.halls__hero-img-wildWest {
    background-image: url("../../img/halls/heroWest.jpg");
    background-size: cover;
}

.halls__hero-img-neon {
    background-image: url("../../img/halls/heroNeon.jpg");
    background-size: cover;
}

.halls__hero-title {
    position: absolute;
    top: 94px;
    left: 78px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.halls__hero-link {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    padding-left: 42px;
    font-size: 12px;
    font-weight: 700;
}

.halls__hero-link:hover,
.halls__hero-link:focus,
.halls__hero-link:active {
    color: var(--mainPurple, #cd06ff);
}

.halls__hero-link::before {
    position: absolute;
    display: inline-block;
    content: "";
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 9px;
    background: url("../../img/halls/arrow.svg") no-repeat;
    background-size: contain;
}

.halls__hero-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

@media (min-width: 350px) {
    .halls__hero-img {
        margin-bottom: 9.38vw;
        width: 100vw;
        height: 52.5vw;
    }

    .halls__hero-title {
        top: 29.38vw;
        left: 24.38vw;
        font-size: 9.38vw;
        line-height: 11.25vw;
    }

    .halls__hero-link {
        margin-bottom: 4.69vw;
        padding-left: 13.13vw;
        font-size: 3.75vw;
    }

    .halls__hero-link::before {
        left: 6.25vw;
        width: 5vw;
        height: 2.81vw;
    }

    .halls__hero-text {
        max-width: 87.5vw;
        font-size: 5vw;
        line-height: 7.5vw;
    }
}

@media (min-width: 768px) {
    .halls__hero-img {
        margin-bottom: 60px;
        width: 768px;
        height: 402px;
    }

    .halls__hero-title {
        top: 213px;
        left: 215px;
        font-size: 60px;
        line-height: 72px;
    }

    .halls__hero-link {
        margin-bottom: 20px;
        padding-left: 80px;
        font-size: 16px;
    }

    .halls__hero-link::before {
        left: 40px;
        width: 30px;
        height: 17px;
    }

    .halls__hero-text {
        max-width: 668px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 1024px) {
    .halls__hero-img {
        margin-bottom: 70px;
        width: 1024px;
        height: 534px;
    }

    .halls__hero-title {
        top: 285px;
        left: 268px;
        font-size: 90px;
        line-height: 80px;
    }

    .halls__hero-link {
        margin-bottom: 20px;
        padding-left: 100px;
        font-size: 22px;
    }

    .halls__hero-link::before {
        left: 60px;
        width: 30px;
        height: 17px;
    }

    .halls__hero-text {
        max-width: 800px;
        font-size: 20px;
        line-height: 30px;
    }
}

@media (min-width: 1440px) {
    .halls__hero-img {
        margin-bottom: 100px;
        width: 1440px;
        height: 750px;
    }

    .halls__hero-title {
        top: 383px;
        left: 484px;
        font-size: 90px;
        line-height: 80px;
    }

    .halls__hero-link {
        margin-bottom: 20px;
        padding-left: 170px;
        font-size: 22px;
    }

    .halls__hero-link::before {
        left: 130px;
        width: 30px;
        height: 17px;
    }

    .halls__hero-text {
        max-width: 1000px;
        font-size: 24px;
        line-height: 36px;
    }
}
