.halls__other {
    grid-area: other;
}

.halls__other-list {
    width: 280px;
    height: 430px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
}

.halls__other-list-vibes {
    grid-template-areas:
    "neon"
    "star"
    "west";
}

.halls__other-list-neon {
    grid-template-areas:
    "vibes"
    "west"
    "star";
}

.halls__other-list-wildWest {
    grid-template-areas:
    "star"
    "neon"
    "vibes";
}

.halls__other-list-starWars {
    grid-template-areas:
    "vibes"
    "west"
    "neon";
}

.halls__other-item {
    position: relative;
}

.halls__other-link {
    display: inline-block;
    width: 280px;
    height: 140px;
}

.halls__other-link-neon {
    background: url("../../img/halls/neon.jpg") no-repeat center;
    background-size: cover;
}

.halls__other-link-starsWars {
    background: url("../../img/halls/wars.jpg") no-repeat center;
    background-size: cover;
}

.halls__other-link-wildWest {
    background: url("../../img/halls/west.jpg") no-repeat center;
    background-size: cover;
}

.halls__other-link-vibes {
    background: url("../../img/halls/vibes.jpg") no-repeat center;
    background-size: cover;
}

.halls__other-subtitle {
    position: absolute;
    max-width: 61px;
    top: 46px;
    left: 109px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.halls__other-item-vibes {
    grid-area: vibes;
}

.halls__other-item-starWars {
    grid-area: star;
}

.halls__other-item-neon {
    grid-area: neon;
}

.halls__other-item-wildWest {
    grid-area: west;
}

@media (min-width: 350px) {
    .halls__other-list {
        width: 87.5vw;
        height: 134.38vw;
        row-gap: 1.56vw;
    }

    .halls__other-link {
        width: 87.5vw;
        height: 43.75vw;
    }

    .halls__other-subtitle {
        max-width: 19.06vw;
        top: 14.38vw;
        left: 34.06vw;
        font-size: 6.25vw;
        line-height: 7.5vw;
    }
}

@media (min-width: 768px) {
    .halls__other-list {
        width: 688px;
        height: 134px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        column-gap: 8px;
    }

    .halls__other-list-vibes {
        grid-template-areas:
        "neon star west";
    }

    .halls__other-list-neon {
        grid-template-areas:
        "vibes west star";
    }

    .halls__other-list-wildWest {
        grid-template-areas:
        "star neon vibes";
    }

    .halls__other-list-starWars {
        grid-template-areas:
        "vibes west neon";
    }

    .halls__other-link {
        display: inline-block;
        width: 224px;
        height: 134px;
    }

    .halls__other-subtitle {
        max-width: 70px;
        top: 43px;
        left: 82px;
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 1024px) {
    .halls__other-list {
        width: 886px;
        height: 172px;
        column-gap: 20px;
    }

    .halls__other-link {
        width: 288px;
        height: 172px;
    }

    .halls__other-subtitle {
        max-width: 86px;
        top: 50px;
        left: 104px;
        font-size: 30px;
        line-height: 36px;
    }
}

@media (min-width: 1440px) {
    .halls__other-list {
        width: 1180px;
        height: 229px;
        column-gap: 20px;
    }

    .halls__other-link {
        width: 380px;
        height: 229px;
    }

    .halls__other-subtitle {
        max-width: 91px;
        top: 78px;
        left: 146px;
        font-size: 30px;
        line-height: 36px;
    }
}
