.booking {
    padding: 32px 0 28px;
    background-color: var(--backgroundColor, #440f51);
}

.booking__title {
    margin-bottom: 13px;
}

.booking fieldset {
    padding: 0;
    border: none;
}

.booking__legend {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}

.booking__legend--margin-bottom {
    margin-bottom: 25px;
}

.booking__content {
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(107px, max-content) minmax(607px, max-content) minmax(557px, max-content);
    grid-template-areas:
    "hall"
    "entertaiment"
    "date";
    row-gap: 30px;
}

.booking__chooseHall {
    grid-area: hall;
}

.booking__choseHall-list {
    display: grid;
    height: 74px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 14px 20px;
}

.booking__choseHall-item-label {
    padding-top: 6px;
    background-color: #ffffff;
    border: 3px solid transparent;
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.booking__choseHall-item-label:hover {
    background-color: var(--hallHoverBackground, #eadeed);
    border: 3px solid var(--hallHoverBorder, #640aa3);
}

.booking__choseHall-item-label:focus {
    background-color: var(--hallFocusBackground, #ffffff);
    border: 3px solid var(--hallHoverBorder, #640aa3);
    outline: none;
}

.booking__choseHall-item-label:active {
    background-color: var(--hallAcriveBackground, #6c0287);
    border: 3px solid var(--hallAcriveBorder, #ffffff);
}

.booking__choseHall-item-radio {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.booking__entertainment {
    grid-area: entertaiment;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(198px, max-content) minmax(213px, max-content) minmax(113px, max-content);
    grid-template-areas:
    "console"
    "boardGame"
    "additional";
    row-gap: 25px;
}

.booking__entertainment-item-legend {
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 700;
}

.booking__entertainment-item-console {
    grid-area: console;
}

.booking__entertainment-wrapper {
    display: flex;
    flex-direction: column;
}

.booking__entertainment-wrapper-console {
    row-gap: 30px;
}

.booking__entertainment-wrapper-boardGame {
    row-gap: 30px;
}

.booking__entertainment-wrapper-additional {
    justify-content: space-between;
}

.booking__entertainment-wrapper-console {
    height: 165px;
}

.booking__entertainment-item-label {
    position: relative;
    padding-left: 50px;
    font-size: 16px;
    text-transform: capitalize;
}

.booking__entertainment-item-radio {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.booking__entertainment-item-label-radio:focus {
    outline: none;
}

.booking__entertainment-item-radio:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
}

.booking__entertainment-item-label-radio:focus:before,
.booking__entertainment-item-radio:focus:before {
    position: absolute;
    display: block;
    width: 46px;
    height: 46px;
    content: "";
    left: -9px;
    top: 50%;
    transform: translateY(-50%);
    outline: 1px solid transparent;
    background: url("../../img/icons/radioFocus.svg") no-repeat center;
}

.booking__entertainment-item-boardGame {
    grid-area: boardGame;
}

.booking__entertainment-wrapper-boardGame {
    height: 180px;
}

.booking__entertainment-item-checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.booking__entertainment-item-label-checkbox:focus {
    outline: none;
}

.booking__entertainment-item-checkbox:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #ffffff;
}

.booking__entertainment-item-label-checkbox:focus:before,
.booking__entertainment-item-checkbox:focus:before {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    background-color: #ffffff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    outline: 1px solid #cd06ff;
    outline-offset: 2px;
}

.booking__entertainment-item-additional {
    grid-area: additional;
}

.booking__entertainment-wrapper-additional {
    height: 72px;
}

.booking__date {
    grid-area: date;
}

.booking__date__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(119px, max-content) repeat(2, minmax(162px, max-content));
    grid-template-areas:
    "times"
    "names"
    "contact";
    row-gap: 36px;
}

.booking__date-item-time-wrapper {
    grid-area: times;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "date time"
    "numPeople numPeople";
    gap: 15px 12px;
}

.booking__date-item-label-times {
    position: relative;
    background-color: #ffffff;
    border: 2px solid transparent;
}

.booking__date-item-label-times:focus,
.booking__date-item-label-times:active {
    border: 2px solid var( --dateFocusActive, #cd06ff);
    outline: none;
}

.booking__date-item-label-date {
    grid-area: date;
}

.booking__date-item-label-time {
    grid-area: time;
}

.booking__date-item-label-numPeople {
    grid-area: numPeople;
}

.booking__date-item-label-times::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 21px;
    height: 15px;
    background: url("../../img/icons/triangle.svg");
}

.booking__date-item-label-date::after,
.booking__date-item-label-time::after {
    top: 19px;
    left: 86px;
}

.booking__date-item-label-numPeople::after {
    top: 18px;
    left: 232px;
}

.booking__date-item-span-time {
    position: absolute;
    top: 17px;
    left: 20px;
    color: #000000;
    font-size: 14px;
}

.booking__date-item-input-times {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.booking__date-item-nameContact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 14px;
}

.booking__date-item-name {
    grid-area: names;
    grid-template-areas:
    "firstName"
    "secondName";
}

.booking__date-item-label-name-firstName {
    grid-area: firstName;
}

.booking__date-item-label-name-secondName {
    grid-area: secondName;
}

.booking__date-item-contact {
    grid-area: contact;
    grid-template-areas:
    "phone"
    "email";
}

.booking__date-item-label-contact-phone {
    grid-area: phone;
}

.booking__date-item-label-contact-email {
    grid-area: email;
}

.booking__date-item-label-nameContact {
    position: relative;
    padding-top: 22px;
    outline: none;
}

.booking__date-item-input-nameContact {
    width: 280px;
    height: 52px;
    border: 2px solid transparent;
}

.booking__date-item-input-nameContact:focus,
.booking__date-item-input-nameContact:active {
    border: 2px solid var( --dateFocusActive, #cd06ff);
    outline: none;
}

.booking__date-item-span-nameContact {
    position: absolute;
    top: 0;
    font-size: 14px;
}

.booking__button {
    padding: 17px 59px 17px 58px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px 2px #ffffff;
    color: var(--buttonColor, #6c0287);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
