.faq {
    padding: 15px 0;
}

.faq__title {
    margin-bottom: 15px;
}

.faq__item {
    position: relative;
    width: 280px;
    min-height: 46px;
    padding: 7px 43px 7px 10px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    cursor: pointer;
}

.faq__item:not(:last-child) {
    margin-bottom: 10px;
}

.faq__item:nth-child(4n) {
    margin-bottom: 0;
}

.faq__item:last-child {
    display: none;
}

.faq__item::after {
    position: absolute;
    display: inline-block;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    width: 30px;
    height: 30px;
    background: url("../../img/icons/circlePurple.svg") no-repeat;
    background-size: contain;
}

.faq__item:hover::after {
    position: absolute;
    display: inline-block;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    width: 30px;
    height: 30px;
    background: url("../../img/icons/hoverPurple.svg") no-repeat;
    background-size: contain;
}

.faq__item:active::after {
    position: absolute;
    display: inline-block;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    width: 30px;
    height: 30px;
    background: url("../../img/icons/activePurple.svg") no-repeat;
    background-size: contain;
}

@media (min-width: 350px) {
    .faq {
        padding: 4.68vw 0;
    }

    .faq__title {
        margin-bottom: 4.68vw;
    }

    .faq__item {
        position: relative;
        width: 87.5vw;
        min-height: 14.38vw;
        padding: 2.19vw 13.44vw 2.19vw 3.13vw;
        font-size: 3.75vw;
        line-height: 5vw;
    }

    .faq__item:not(:last-child) {
        margin-bottom: 3.13vw;
    }

    .faq__item:nth-child(4n) {
        margin-bottom: 0;
    }

    .faq__item::after,
    .faq__item:hover::after,
    .faq__item:active::after {
        right: 4.06vw;
        width: 9.38vw;
        height: 9.38vw;
        background-size: cover;
    }
}

@media (min-width: 480px) {
    .faq {
        padding: 3.91vw 0;
    }

    .faq__title {
        margin-bottom: 3.91vw;
    }

    .faq__item {
        width: 89.58vw;
        min-height: 9.11vw;
        padding: 2.99vw 29.56vw 3.13vw 7.03vw;
        font-size: 2.34vw;
        line-height: 3.13vw;
    }

    .faq__item:not(:last-child) {
        margin-bottom: 2.08vw;
    }

    .faq__item:nth-child(4n) {
        margin-bottom: 0;
    }

    .faq__item::after,
    .faq__item:hover::after,
    .faq__item:active::after {
        right: 8.46vw;
        width: 5.99vw;
        height: 5.99vw;
    }
}

@media (min-width: 768px) {
    .faq {
        padding: 30px 0;
    }

    .faq__title {
        margin-bottom: 30px;
    }

    .faq__item {
        width: 688px;
        min-height: 70px;
        padding: 23px 227px 24px 54px;
        font-size: 18px;
        line-height: 24px;
    }

    .faq__item:not(:last-child) {
        margin-bottom: 16px;
    }

    .faq__item:nth-child(4n) {
        margin-bottom: 0;
    }

    .faq__item::after,
    .faq__item:hover::after,
    .faq__item:active::after {
        right: 65px;
        width: 46px;
        height: 46px;
    }
}

@media (min-width: 1024px) {
    .faq {
        padding: 35px 0 29px;
    }

    .faq__title {
        margin-bottom: 26px;
    }

    .faq__item {
        width: 904px;
        min-height: 70px;
        padding: 23px 134px 23px 25px;
        font-size: 20px;
        line-height: 24px;
    }

    .faq__item:not(:last-child) {
        margin-bottom: 16px;
    }

    .faq__item:nth-child(4n) {
        margin-bottom: 0;
    }

    .faq__item::after,
    .faq__item:hover::after,
    .faq__item:active::after {
        right: 20px;
        width: 46px;
        height: 46px;
    }
}

@media (min-width: 1440px) {
    .faq {
        padding: 50px 0;
    }

    .faq__title {
        margin-bottom: 40px;
    }

    .faq__item {
        width: 1180px;
        min-height: 87px;
        padding: 30px 330px 29px 70px;
        font-size: 24px;
        line-height: 28px;
    }

    .faq__item:last-child {
        display: block;
    }

    .faq__item:not(:last-child) {
        margin-bottom: 20px;
    }

    .faq__item::after,
    .faq__item:hover::after,
    .faq__item:active::after {
        right: 70px;
        width: 46px;
        height: 46px;
    }

    .faq__item:hover::after {
        background: url("../../img/icons/hoverPurple.svg") no-repeat;
    }

    .faq__item:active::after {
        background: url("../../img/icons/activePurple.svg") no-repeat;
    }

    .faq__item:nth-child(even) {
        background-color: var(--backgroundColor, #440F51);
        color: var(--color, #ffffff);
    }

    .faq__item:nth-child(even)::after {
        background: url("../../img/icons/circleWhite.svg");
    }

    .faq__item:nth-child(even):hover::after {
        background: url("../../img/icons/hoverWhite.svg") no-repeat;
    }

    .faq__item:nth-child(even):active::after {
        background: url("../../img/icons/activeWhite.svg") no-repeat;
    }
}
