.hall {
    padding: 15px 0 30px;
    min-height: 765px;
}

.hall__title {
    margin-bottom: 15px;
}

.hall__list {
    min-height: 702px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    grid-template-areas:
    "vibes"
    "star"
    "west"
    "neon";
}

.hall__item {
    position: relative;
}

.hall__link {
    position: absolute;
    width: 280px;
    height: 168px;
    padding: 50px 100px 0 100px;
    top: 0;
    left: 0;
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
}

.hall__link-vibes {
    background: url("../../img/vibes.jpg") no-repeat;
    background-size: contain;
}

.hall__link-star {
    background: url("../../img/starWars.jpg") no-repeat;
    background-size: contain;
}

.hall__link-west {
    background: url("../../img/wildWest.jpg") no-repeat;
    background-size: contain;
}

.hall__link-neon {
    background: url("../../img/neonStyle.jpg") no-repeat;
    background-size: contain;
}

@media (min-width: 350px) {
    .hall {
        padding: 4.69vw 0;
        min-height: 239vw;
    }

    .hall__title {
        margin-bottom: 4.69vw;
    }

    .hall__list {
        min-height: 219.375vw;
        row-gap: 3.125vw;
    }

    .hall__link {
        width: 87.5vw;
        height: 52.5vw;
        padding: 15.63vw 31.25vw 0 31.25vw;
        font-size: 8.125vw;
        font-weight: 700;
        line-height: 10.625vw;
    }
}

@media (min-width: 768px) {
    .hall {
        padding: 30px 0 33px;
        min-height: 551px;
    }

    .hall__title {
        margin-bottom: 30px;
    }

    .hall__list {
        min-height: 417px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 17px 20px;
        grid-template-areas:
        "vibes star"
        "west neon";
    }

    .hall__link {
        width: 335px;
        height: 200px;
        padding: 62px 107px 0 107px;
        font-size: 40px;
        line-height: 50px;
    }
}

@media (min-width: 1024px) {
    .hall {
        padding: 35px 0 69px;
        min-height: 699px;
    }

    .hall__title {
        margin-bottom: 37px;
    }

    .hall__list {
        min-height: 553px;
        gap: 19px 20px;
    }

    .hall__link {
        width: 443px;
        height: 267px;
        padding: 73px 95px 0 95px;
        font-size: 50px;
        line-height: 60px;
    }
}

@media (min-width: 1440px) {
    .hall {
        padding: 50px 0;
        min-height: 914px;
    }

    .hall__title {
        margin-bottom: 40px;
    }

    .hall__list {
        min-height: 718px;
        gap: 20px;
    }

    .hall__link {
        width: 580px;
        height: 349px;
        padding: 64px 164px 0 164px;
        font-size: 70px;
        line-height: 80px;
    }
}
