.hall {
    padding: 15px 0 30px;
}

.hall__wrapper {
    position: relative;
}

.hall__title {
    margin-bottom: 15px;
}

.hall__list {
    width: 280px;
    height: 168px;  
}

.hall__link {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 168px;
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
}

.hall__link:hover,
.hall__link:focus,
.hall__link:active {
    outline: 1px solid var(--mainPurple, #cd06ff);
    outline-offset: 3px;
}

.hall__link-vibes {
    background: url("../../img/vibes.jpg") no-repeat;
    background-size: contain;
}

.hall__link-star {
    background: url("../../img/starWars.jpg") no-repeat;
    background-size: contain;
}

.hall__link-west {
    background: url("../../img/wildWest.jpg") no-repeat;
    background-size: contain;
}

.hall__link-neon {
    background: url("../../img/neonStyle.jpg") no-repeat;
    background-size: contain;
}

.hall__item-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 79px;
}

.hall__button-left,
.hall__button-right {
    display: none;
}

@media (min-width: 350px) {
    .hall {
        padding: 4.69vw 0;
    }

    .hall__title {
        margin-bottom: 4.69vw;
    }

    .hall__list {
        height: 40vw;
        text-align: center;
    }

    .hall__link {
        width: 60vw;
        height: 36vw;
        font-size: 8.13vw;
        font-weight: 700;
        line-height: 10.63vw;
    }

    .hall__button-left,
    .hall__button-right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        top: calc(50% - 15px);
        cursor: pointer;
        z-index: 5;
    }

    .hall__button-right {
        right: -5px;
    }
    
    .hall__button-left {
        left: -5px;
    }

    .hall__button-left svg,
    .hall__button-right svg {
        fill: #ffffff;
    }

    .hall__button-left:hover svg,
    .hall__button-left:active svg,
    .hall__button-right:hover svg,
    .hall__button-right:active svg {
        fill: #cd06ff;
    }
    
}

@media (min-width: 480px) {
    .hall {
        padding: 3.91vw 0 4.30vw;
    }

    .hall__title {
        margin-bottom: 3.91vw;
    }

    .hall__list {
        height: 30vw;
        text-align:center;
    }

    .hall__link {
        width: 48vw;
        height: 30vw;
        font-size: 5.21vw;
        line-height: 6.51vw;
    }

    .hall__button-right {
        right: 8.3vw;
    }
    
    .hall__button-left {
        left: 8.3vw;
    }
}

@media (min-width: 768px) {
    .hall {
        padding: 30px 0 33px;
    }

    .hall__title {
        margin-bottom: 30px;
    }

    .hall__button-right {
        right: 1.3vw;
    }
    
    .hall__button-left {
        left: 1.3vw;
    }
}

@media (min-width: 1024px) {
    .hall {
        padding: 35px 0 69px;
    }

    .hall__title {
        margin-bottom: 37px;
    }

    .hall__list {
        width: auto;
        height: auto;
    }

    .hall__link {
        width: 443px;
        height: 267px;
        font-size: 50px;
        line-height: 60px;
    }

    .hall__item-title {
        max-width: 252px;
    }
}

@media (min-width: 1440px) {
    .hall {
        padding: 50px 0;
    }

    .hall__title {
        margin-bottom: 40px;
    }

    .hall__link {
        width: 580px;
        height: 349px;
        font-size: 70px;
        line-height: 80px;
    }

    .hall__button-right {
        right: 100px;
    }
    
    .hall__button-left {
        left: 100px;;
    }
}
